fastapi
uvicorn
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
python-multipart
httpx
pydantic
pydantic-settings
python-dotenv
aiofiles
reportlab
sqlalchemy
aiosmtplib==3.0.1
requests==2.31.0
